@{
    @using Microsoft.AspNetCore.Http
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
}
<h2 class="title-page float-left">
    List Role SSO
</h2>
<a href="@(Environment.GetEnvironmentVariable("base_url")+"role/add")" type="button" class="btn btn-primary float-right mt-4">Tambah</a>
<table id="table" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>No</th>
            <th>Nama</th>
            <th>Deskripsi</th>
            <th>Composite</th>
            <th>Client Role</th>
            <th>Container ID</th>
        </tr>
    </thead>
    <tbody>
        @{
            Ciam.Models.RoleModel[] data = ((Ciam.Models.RoleModel[])ViewData["data"]);
        }

        @for (int i = 0; i < data.Length; i++)
        {
            <tr>
                <td>@(i + 1)</td>
                <td><a style="color: #1a0dab;" href="@(Environment.GetEnvironmentVariable("base_url")+"role/edit/"+data[i].id)">@data[i].name</a></td>
                <td>@data[i].description</td>
                <td>@data[i].composite</td>
                <td>@data[i].clientRole</td>
                <td>@data[i].containerId</td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $("#title").html("Pengaturan Role SSO");

        getData();
    });

    function getData() {
        $('#table thead tr')
            .clone(true)
            .addClass('filters')
            .appendTo('#table thead');

        var table = $('#table').DataTable({
            dom: 'f<"table-overflow"t>lp',
            orderCellsTop: true,
            fixedHeader: true,
            initComplete: function () {
                var api = this.api();

                // For each column
                api
                    .columns()
                    .eq(0)
                    .each(function (colIdx) {
                        // Set the header cell to contain the input element
                        var cell = $('.filters th').eq(
                            $(api.column(colIdx).header()).index()
                        );
                        var title = $(cell).text();
                        $(cell).html('<input type="text" placeholder="' + title + '" />');

                        // On every keypress in this input
                        $(
                            'input',
                            $('.filters th').eq($(api.column(colIdx).header()).index())
                        )
                            .off('keyup change')
                            .on('change', function (e) {
                                // Get the search value
                                $(this).attr('title', $(this).val());
                                var regexr = '({search})'; //$(this).parents('th').find('select').val();

                                var cursorPosition = this.selectionStart;
                                // Search the column for that value
                                api
                                    .column(colIdx)
                                    .search(
                                        this.value != ''
                                            ? regexr.replace('{search}', '(((' + this.value + ')))')
                                            : '',
                                        this.value != '',
                                        this.value == ''
                                    )
                                    .draw();
                            })
                            .on('keyup', function (e) {
                                e.stopPropagation();

                                $(this).trigger('change');
                                $(this)
                                    .focus()[0]
                                    .setSelectionRange(cursorPosition, cursorPosition);
                            });
                    });
            },
        });
    }
</script>